aiohttp==3.7.4.post0
aiosmtplib==1.1.6
aiosqlite==0.17.0
alembic==1.7.3
asyncpg==0.24.0
coloredlogs==15.0.1
dask-kubernetes==2021.3.1
dask==2021.9.1
databases==0.5.2
distributed==2021.9.1
fastapi==0.68.1
kubernetes==18.20.0
loky==3.0.0
psycopg2==2.*
python-dateutil==2.8.2
python-json-logger==2.0.2
pyyaml==5.*
pyzmq==22.3.0
requests-futures==1.0.0
requests==2.26.0
sqlalchemy==1.4.25
transaction==3.0.1
uvicorn==0.15.0
voluptuous==0.12.2