aiohttp==3.8.1
aiosmtplib==1.1.6
aiosqlite==0.17.0
alembic==1.7.3
asyncpg==0.24.0
coloredlogs==15.0.1
dask-kubernetes==2021.3.1
dask==2022.5.2
databases==0.5.2
distributed==2022.5.2
fastapi==0.68.1
kubernetes==24.2.0
loky==3.1.0
psycopg2==2.*
python-dateutil==2.8.2
python-json-logger==2.0.2
pyyaml==5.*
pyzmq==23.1.0
requests-futures==1.0.0
requests==2.27.0
sqlalchemy==1.4.37
transaction==3.0.1
uvicorn==0.15.0
voluptuous==0.12.2
